/* Young Serif */
@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("woff2");
  font-weight: 400;
}

/* Outfit */
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("woff2");
  font-weight: 700;
}
:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}
body {
  font-family: "Outfit", sans-serif;
  color: var(--Wenge-Brown);
}
* {
  box-sizing: border-box;
  line-height: 1.8;
  box-shadow: 1px 1px 15px var(--RoseWhite);
}
h1,
h2 {
  font-family: "Young Serif", serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
header {
  height: 65vh;
  border-radius: 30px;
  background-image: url(assets/images/image-omelette.jpeg);
  background-size: 100% 100%;
  margin: 50px 0;
}
h1 {
  color: var(--Dark-Charcoal);
  font-size: 65px;
  margin-bottom: 0;
  font-weight: 400;
}
p {
  width: 90%;
  margin-top: 0;
  color: var(--Wenge-Brown);
}
.box {
  padding-left: 50px;
}
.box h2 {
  color: var(--Dark-Raspberry) !important;
  margin-top: 60px;
  margin-left: 10px;
  font-family: "Outfit", sans-serif;
}
ul,
ol {
  list-style: none;
}

ul li {
  margin: 10px 0;
  padding-left: 30px;
  position: relative;
  color: var(--Wenge-Brown);
}

ul li:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--Dark-Raspberry);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container h2:not(:last-of-type) {
  color: var(--Nutmeg);
  margin-top: 50px;
  margin-left: 25px;
}
.container > ul,
ol {
  border-bottom: 2px solid var(--Light-Grey);
  padding-bottom: 25px;
}
.container > ul li {
  padding-left: 50px;
}
.container > ul li:before {
  background-color: var(--Nutmeg);
  border-radius: 0%;
  width: 6px;
  height: 6px;
}
ol li {
  color: var(--Wenge-Brown);
  margin: 10px 0;
  padding-left: 40px;
  position: relative;
}
ol li:before {
  content: counter(list-item) ". ";
  counter-increment: list-item 0;
  display: inline-block;
  width: 20px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--Nutmeg);
  font-weight: 800;
}
.container h2:last-of-type {
  color: var(--Nutmeg);
  margin-top: 50px;
}
p:nth-of-type(2) {
  width: 100%;
}
table {
  padding: 10px;
  width: 100%;
}
table td {
  width: 50%;
  padding: 15px 20px;
  color: var(--Wenge-Brown);
}
table td:nth-of-type(2) {
  color: var(--Nutmeg);
  font-weight: 800;
}
table tr {
  position: relative;
}
table tr:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--Wenge-Brown);
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 678px) {
  h1 {
    line-height: 1.2;
    font-size: 40px;
    margin-bottom: 20px;
  }
  p {
    width: 100%;
  }
  .box {
    padding-left: 30px;
  }
  .container > ul li {
    padding-left: 30px;
  }
  ol {
    padding: 10px;
  }
}
